footer {
  background: $grey;

  .container {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    padding: 4px;
    justify-content: space-between;
    align-items: center;
    gap: 12px;

    img {
      width: 40px;
      height: auto;
    }
  }

  ul {
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    a {
      color: $bodyText;
    }
  }

  .foot_message {
    font-size: .75em;
    color: $bodyText;
  }
}
