.elem_hide { 
	visibility: hidden;
	width__: 1px;
	height: 0px;
}
.elem_show {
	visibility: visible;
	width__: 1000px;
	height: 700px;
}
.visuallyhidden { 
	position: absolute; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height: 1px; width: 1px; 
	margin: -1px; padding: 0; border: 0; 
}
.hideaway {
	position: absolute !important;
	top: -9999px !important;
	left: -9999px !important;
}

header {
	background-color: #eee;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    flex-wrap: wrap;
  }

  .brand {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .main-site-name {
    font-family: $hdrFont;
    font-weight: 800;
    color: #0038A8;

    @media (min-width: 600px) {
      font-size: 35px;
    }
  }

  .logo-tl img {
    max-height: 50px;
  }

  nav ul {
    display: flex;
    list-style: none;
    gap: 1rem;

    .nav-item {
      display: flex;
      align-items: center;
      gap: 4px;
    }
  }
}
